
#login-form {
    margin: 10rem auto;
    border: 2px solid green;
    width: 50%;
    font-size: 2em;
    font-family: sans-serif;
}

label {
    display: block;
}

#login-form div {
    margin: auto;
    width: 80%;
}

#login-form div > * {
    width: inherit;
}